/* Services */
.services {
    padding: 60px;
    text-align: center;
    background-color: $bg_light_grey;

    p {
        color: $grey_text;
    }

    /* Box Container */
    .box-container {
        @include flex;
        padding: 100px 40px;

        .box {
            padding: 30px;
            text-align: center;

            h3 {
                padding: 15px 0;
                font-size: 30px;
            }

            img {
                width: 150px;
                height: 150px;
                padding: 20px 0;
            }

            p {
                color: $grey_text;
                width: 50%;
                margin: auto;
            }
        }
    }
    /* End Box Container */

    button {
        box-shadow: 0px 0px 30px $pink_text;
    }
}
/* End Services */

/* Bg-Blue Graphic */
.bg-blue {

    .container {
        padding: 60px 0;

        .section-content {
            @include flex;
            align-items: center;
    
            .section-image {
                width: 50%;
                padding: 80px;
                position: relative;
                
                #graphic {
                    position: absolute;
                    width: 70%;
                    bottom: 23%;
                    left: -1%;
                }

                img {
                    width: 80%;

                    &:last-child {
                        position: relative;
                    }
                }
                
            }
    
            .section-intro {
                @include intro-bg-blue;
                padding: 60px;
                text-align: -webkit-center;
    
            }
        }
    }
}
/* End Bg-Blue Graphic */

/* Portfolio */
.portfolio {
    background-color: $bg_light_grey;
    padding: 40px 0;

    /* Title Section */
    .title-section {
        @include flex;
        justify-content: space-between;
        padding: 30px 0;
        align-items: center;

        .right {

            .arrow {
                border: 1px solid $pink_text;
                border-radius: 50%;
                padding: 15px;
                margin: 0 10px;
                cursor: pointer;

                i {
                    color: $pink_text;
                }
            }
        }
    }
    /* End Title Section */

    /* Carousel */
    .carousel-content {
        padding: 40px 0;
        display: -webkit-box;
        overflow-y: auto;

       .single-box {
           background-color: $white_text;
           border-radius: 20px;
           overflow: hidden;
           margin: 0 25px;

            img {
                border-radius: 20px;
                width: 500px
            }

            .info-content {
                @include flex;
                justify-content: space-between;
                padding: 20px;

                .image-title {
                    font-weight: bold;
                }

                .grey-text {
                    color: $grey_text;
                }
            }
       }
    }
    /* End Carousel */

    /* Carousel Point */
    .circle-counter-carousel {
        text-align: center;
        padding: 40px 0 60px 0;

        i {
            margin: 0 5px;
            font-size: 13px;
            color: $bg_light_grey;
        }
    }
    /* End Carousel Point */
}
/* End Portfolio */

/* Price List */
.price-list {
    position: relative;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 400px;

    h2 {
        color: $white_text;
    }

    p {
        color: $grey_text;
    }

    .price-box-container {
        @include flex;
        position: absolute;
        top: 50%;
        left: 16%;
        

        /* Box Content */
        .box-content {
            background-color: $white_text;
            padding: 40px 100px;
            border-radius: 20px;
            position: relative;
            margin-right: 60px;


            h3 {
                font-size: 40px;
                position: relative;
                z-index: 1;
            }

            p {
                color: #000000;
                text-transform: uppercase;
                padding: 10px 0;
                position: relative;
                z-index: 1;
                font-weight: bold;
            }

            /* Number Price */
            .number-price {
                font-size: 100px;
                font-weight: bold;
                padding-bottom: 30px;
                position: relative;
                z-index: 1;

                &::before {
                    content: "$";
                    font-size: 14px;
                    display: block;
                    position: relative;
                    right: 60px;
                    top: 0;
                    padding-top: 30px;
                }

                &::after {
                    content: 'Per Month';
                    display: block;
                    font-size: 14px;
                    color: $grey_text;
                    font-weight: 400;
                }
                /* End Number Price */
            }

            .features-subscription {
                padding: 10px 0;
                span {
                    color: $grey_text;
                }
            }

            button {
                margin-top: 30px;
                box-shadow: 0 0 20px $pink_text;

                span {
                    padding-left: 15px;
                    
                    i {
                        vertical-align: middle;
                    }
                }
            }

            /* Background Number */
            .bg-number {
                position: absolute;
                top: -70px;
                right: -10px;
                font-size: 300px;
                font-weight: bold;
                color: #00000014;
            }
            /* End Background Number */

            /* Pink Box */
            &.bg-pink {
                background: linear-gradient(to top, $pink_text, $dark_pink_text);
                color: $white_text;

                p {
                    color: $white_text;
                }

                .number-price {

                    &::after {
                        
                        color: #e0e0e0;
                    }
                }

                .features-subscription {
                    
                    span {
                        color: #e0e0e0;
                    }
                }
    
                button {
                    color: $pink_text;
                }
            }
        }
    }
}
/* End Price List */

/* Blog */
.blog {
    background-color: $bg_light_grey;
    padding-top: 500px;
    text-align: center;


    .blog-container {
        padding: 60px 0;
        @include flex;
        justify-content: space-between;

        .box-container {
            height: 400px;
            border-radius: 25px;            
            width: 25%;
            background: linear-gradient(to top left, $blue_primary -33%, $dark_blue 40%);

            .box-content {
                @include flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: left;
                padding: 40px;
                height: 100%;
                
                .left {
                    
                    color: $white_text;
                    
                    .date {
    
                        color: #e0e0e0;
        
                        .pound {
                            padding: 0 5px;
                            font-size: 3px;
                            vertical-align: middle;
                        }
        
                        .about-by {
                            color: $white_text;
                        }
                    }

                    h4 {
                        padding: 20px 0;
                        font-size: 20px;
                    }

                    p {
                        color: #e0e0e0;
                        font-size: 14px;
                    }
                }

                .right {
                    

                    button {
                        margin-top: 30px;
                        color: #000000;
                    }
                }
            }

            /* Bg-Image */
            &.bg-image {
                padding: 20px;
                background-image: url('../img/headway-537308-unsplash-1380x703.jpg');
                background-size: cover;
                width: 45%;
                filter: brightness(90%);

                .box-content{
                    padding: 0;
                    align-items: flex-end;
                    flex-direction: row;
                }

                .left {
                    width: 60%;
                    text-align: left;

                    h4 {
                        font-size: 18px;
                        padding: 10px 0;
                    }
                    
                }

                .right {
                    width: 40%;
                    text-align: end;
                }
            }
        }
    }
}
/* End Blog */

/* Testimonial */
.testimonial {
    background-color: $bg_light_grey;
    text-align: center;
    padding: 150px 0;

    /* Features Box */
    .features-box {
        @include flex;
        padding-top: 100px;

        /* Box */
        .box {
            padding: 40px;

            .stars {
                @include flex;
                justify-content: center;
                align-items: center;
                padding: 40px;

                i {
                    color: lighten($dark_pink_text, 10%);
                }
                
            }

            img {
                width: 100px;
                border: 5px solid $dark_pink_text;
                border-radius: 999px;
            }

            .name {
                color: #000000;
                padding-top: 25px;
                padding-bottom: 5px;
                font-weight: bold;
            }
        }
        /* End Box */

    }
    /* End Features Box */

    .client-list {
        @include flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 100px 0;
    }
}
/* End Testimonial */