.bg-blue {
    background: $bg_blue;     
    color: $white_text;

    .container {
        padding-top: 20px;
        padding-bottom: 60px;

        /* NAV */
        nav {
            @include flex;
            justify-content: space-between;
            align-items: center;
    
            .logo {
                @include flex;
                align-items: center;
    
                img {
                    width: 130px;
                }
    
            }
    
            .menu {
                @include flex;
                align-items: center;
    
                .link-lists {
                    @include flex;
                    
                    li {
                        padding: 0 10px;
                        font-size: 17px;
    
                        &:first-child a {
                            color: $dark_pink_text;
                        }
                        
                        a {
                            color: $white_text;
                        }
                    }
                    
                }
    
                button {
                    margin-left: 40px;               
                }
            }
        }
        /* End NAV */
    
        /* Header Content */
        .header-content {
            @include flex;
            padding: 40px 0;
    
            .intro {
                width: 50%;
                @include intro-bg-blue;

                h1 {
                    padding-top: 130px;
                    font-size: 60px;
                }
            
            }
    
            .header-image {
                width: 50%;
            }
    
        }
        /* End Header Content */
    }
}
