@mixin flex {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex; 
    display: flex;
};

@mixin btn {
    padding: 10px 30px;
    color: white;
    font-size: 17px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

@mixin intro-bg-blue {

    width: 50%;
    
   
    span {
        font-weight: lighter;
    }

    p {
        width: 60%;
        font-size: 17px;
        padding: 50px 0;
        color: $cyan_text;
    }

    .button-container {

        button {
            margin-right: 35px;
        }
    }
}